.header-conta {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 0 40px;
  height: 4.4em;
  background-color: #2541a0;
  position: relative;
  z-index: 1;
}

.header-left {
  justify-self: start;
}

.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right-container .perfil-section {
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 1px 16px;
  background: #3a3939;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background: #fff;
  max-width: 300px;
  width: 70%;
}

.header-center .job-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 1px 16px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  max-width: 450px;
  width: 100%;
}

.search-section {
  display: flex;
  align-items: center;
}

.search-section input {
  height: 1px;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  margin-top: 15px;
}

.search-icon {
  color: #007bff;
}

.search-button {
  background: #002f6c;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.search-button:hover {
  background: #004080;
}

.header-conta .divider {
  width: 1px;
  height: 24px;
  background: #ccc;
  margin: 0 12px;
}

.name {
  color: #2541a0;
}
.search-seccion {
  display: flex;
  align-items: center;
  background-color: #fff;
}

.button-perfil {
  background-color: transparent;
  color: #0d1e53;
  border: 1px solid #ffffff;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-perfil:hover {
  background-color: #2541a0;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}