.container-buttons {
    display: flex;
    background-color: none;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}

.job-apply {
    background-color: #2b14ad;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 40px;
    width: 110px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

.job-apply:hover {
    background-color: #1f0d7d;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button-icon {
    border: none;
    padding: 8px;
    width: 50px;
    background-color:aliceblue;
    border-radius: 50px;
    height: 44px;
    color: rgb(105, 119, 133);
}

.buttons :hover {
    background-color: rgb(225, 237, 248);
}

