*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4fbff;
}

.CabConfig {
    display: flex;
    background-color: #20559b;
    height: 60px;
    padding: 10px;
}

.CabConfig h1 {
    font-size: 30px;
    color: whitesmoke;
    margin-left: 10px;
    padding: 5px;
}

.SecConfig {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.TitleConfig {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    padding: 20px;
    color: #171717;
}

.BoxConfig {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin: 0 20px 10px 20px;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.BoxConfig p {
    font-size: 15px;
    color: #4d4d4d;
    margin: 10px;
}

.BoxConfig span {
    font-size: 15px;
    color: #2478ed;
    cursor: pointer;
}


.CheckBoxConfig {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.BOXconfig p {
    font-size: 15px;
    color: #4d4d4d;
}

input[type="checkbox"] {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    width: 13px;
    height: 13px;
    border: 1px solid #acacac;
    cursor: pointer;
    border-radius: 50%;
}

input[type="checkbox"]:checked {
    background-color: #7ab0fc;
    border: 1px solid #7ab0fc;
}

input[type="checkbox"]:checked::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.BtnCheckBox {
    margin-left: 30px;
    width: 200px;
    height: 40px;
    background-color: #1f4e8b;
    border: none;
    margin: 20px;
    border-radius: 55px;
    cursor: pointer;
    font-size: 20px;
}

.BtnCheckBox span{
    color: whitesmoke;
    font-weight: bold;
}

.BtnCheckBox:hover {
    background-color: #0f2f5a;
}

.FooterConfig {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
    color: #171717;
}