.main-forgotpsw {
  display: grid;
  grid-template-columns: auto;
  place-items: center;
}

.section-forgotpsw {
  max-width: 15em;
  max-height: 15em;
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}


.di-forgotpsw {

}
